exclude: |
  (?x)
  # Readme file(s)
  ^README\.md$|
  # Library files can have extraneous formatting (even minimized)
  /static/(src/)?lib/|
  # Repos using Sphinx to generate docs don't need prettying
  ^docs/_templates/.*\.html$|
  # You don't usually want a bot to modify your legal texts
  (LICENSE.*|COPYING.*)
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-added-large-files
        # Default is 500 which is too strict on the notebooks.
        args: ['--maxkb=1000']
  - repo: https://github.com/psf/black
    rev: 22.1.0 # Make sure to use the same tag/version as specified in formatting-requirements.txt
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1 # Make sure to use the same tag/version as specified in formatting-requirements.txt
    hooks:
      - id: isort
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.2.3
    hooks:
      - id: nbqa-black
      - id: nbqa-pyupgrade
        args: [--py36-plus]
      - id: nbqa-isort